.card__view{
  width: 100%;
  height: 100%;
  position: relative;
}
.card__form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.cardview__btn_red, .cardview__btn_green, .cardview__btn_back{
  max-width: 80px;
  margin-top: 25px;
}
.cardview__btn_red{
  background-color: rgb(255, 75, 75);
  color: white;
}
.cardview__btn_green{
  background-color: rgb(75, 255, 144);

}
.cardview__input, .cardview__input_content{
  max-width: 100%;
}
.cardview__input_content{
  min-height: 300px;
  margin-top: 2px;
}
.btn__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardview__title{
  font-size: 26px;
  font-weight: 500;
  padding: 5px;
}
.popup{
  position: fixed;
  top: 27%;
  right: 43%;

}
.popup__btn{
  width: 40px;
  height: 25px;
  margin-top: 16px;
}
.popup__text{
  text-align: center;
  margin-top: 16px;
  font-weight: 600;
}
.popup__container{
  width: 300px;
height: 100px;
background-color: rgb(241, 241, 241);
display: flex;
flex-direction: column;
border-radius: 7%;
border: 1px solid grey;
}
.btn__container_popup{
justify-content: space-around;
}
